@page "/basic_formulas"
@inject IJSRuntime JS
@inject IDialogService DialogService
@using MathChain.Domain.Entities

<Component/>


<MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
	<MudText Typo="Typo.h4" Align="Align.Center" Class="mb-8">Basic Formulas</MudText>

	<MudGrid>
		@foreach (var formula in _formulas)
		{
			<MudItem xs="12" sm="6" md="4">
				<MudCard Elevation="4" Class="p-4" Style="background-color: #222222">
					<MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mb-2"></MudText>

					<div class="formula-card" 
						@onmouseenter="(() => Load3DModel(formula))"
						@onmouseleave="(() => Unload3DModel(formula))"
						@ondblclick="(() => OpenFormulaDialog(formula))">
						<div class="formula-2d">
							<span>
								@formula.Latex
							</span> 
						</div>

						<div class="formula-3d">
							<canvas id="@($"{formula.Id}-canvas")"></canvas>
						</div>
					</div>
				</MudCard>
			</MudItem>
		}
	</MudGrid>
</MudContainer>



@code
{
	private static readonly string requirement = "Calculate the primitive, then evaluate at x = 1 and C = 0.";

	private List<Formula> _formulas = new List<Formula>
	{
		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int a \,dx = ax + C$$",
			ModelPath = "Assets/3DModels/inta.glb",
			Category = "Integrals",
			Description = "The integral of a constant a is the (constant * x), plus the constant of integration C.",
			Requirement = $"{requirement}"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int x^n \,dx = \frac{x^{n+1}}{n+1} + C$$",
			ModelPath = "Assets/3DModels/intxlan.glb",
			Category = "Integrals",
			Requirement = $"{requirement}"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \frac{1}{x} \,dx = \ln|x| + C$$",
			ModelPath = "Assets/3DModels/int1pex.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int a^x \,dx = \frac{a^x}{\ln a} + C$$",
			ModelPath = "Assets/3DModels/intalax.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int e^x \,dx = e^x + C$$",
			ModelPath = "Assets/3DModels/intelax.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id =Guid.NewGuid(),
			Latex = @"$$\int \frac{1}{x^2-a^2} \,dx = \frac{1}{2a} \ln \left|\frac{x-a}{x+a}\right| + C$$",
			ModelPath = "Assets/3DModels/int1pexla2minusala2.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \frac{1}{x^2+a^2} \,dx = \frac{1}{a} \arctan{\frac{x}{a}} + C$$",
			ModelPath = "Assets/3DModels/int1pexla2plusala2.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \frac{1}{\sqrt{a^2-x^2}} \,dx = \arcsin{\frac{x}{a}} + C$$",
			ModelPath = "Assets/3DModels/int1peradala2minusxla2.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \frac{1}{\sqrt{x^2+a^2}} \,dx = \ln|x + \sqrt{x^2 + a^2}| + C$$",
			ModelPath = "Assets/3DModels/int1peradxla2plusala2.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \frac{1}{\sqrt{x^2-a^2}} \,dx = \ln|x + \sqrt{x^2 - a^2}| + C$$",
			ModelPath = "Assets/3DModels/int1peradxla2minusala2.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \sin x \,dx = -\cos x + C$$",
			ModelPath = "Assets/3DModels/intsinx.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \cos x \,dx = \sin x + C$$",
			ModelPath = "Assets/3DModels/intcosx.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \tan x \,dx = -\ln|\cos x| + C$$",
			ModelPath = "Assets/3DModels/inttanx.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \cot x \,dx = \ln|\sin x| + C$$",
			ModelPath = "Assets/3DModels/intcotx.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \frac{1}{cos^2{x}} \,dx = \tan x + C$$",
			ModelPath = "Assets/3DModels/int1pecosla2x.glb",
			Category = "Integrals"
		},

		new Formula
		{
			Id = Guid.NewGuid(),
			Latex = @"$$\int \frac{1}{\sin^2{x}} \,dx = -\cot x + C$$",
			ModelPath = "Assets/3DModels/int1pesinla2x.glb",
			Category = "Integrals"
		},
	};

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JS.InvokeVoidAsync("formatMath");
			await Task.Delay(200);
			await JS.InvokeVoidAsync("autoScaleFormulas");
		}
	}

	private async Task Load3DModel(Formula formula)
	{
		await JS.InvokeVoidAsync("math3D.loadModel", formula.Id + "-canvas", formula.ModelPath);
	}

	private async Task Unload3DModel(Formula formula)
	{
		await JS.InvokeVoidAsync("math3D.stopModel", formula.Id + "-canvas", formula.ModelPath);
	}

	private async Task OpenFormulaDialog(Formula formula)
	{
		var parameters = new DialogParameters<FormulaDialog>
		{
			{ x => x.Formula, formula},
			{ x => x.TotalFormulas, _formulas.Count  }
		};

		var options = new DialogOptions
		{
			CloseOnEscapeKey = true,
			MaxWidth = MaxWidth.Medium,
			FullWidth = true
		};

		await DialogService.ShowAsync<FormulaDialog>("Formula Details", parameters, options);
	}
}
