@inject IDialogService DialogService
@inject	IJSRuntime JS
@inject AppSession Session
@inject NavigationManager Nav
@using MathChain.Blazor.Pages.Chapters.Calculus.Integrals
@using MathChain.Domain.Entities
@implements	IAsyncDisposable

<Component/>

<MudDialog Style="background-color: #222222;">
	<DialogContent>
		<div class="formula-3d-dialog">
			<canvas id="@($"{Formula.Id}-dialog-canvas")"></canvas>
		</div>

		<MudText Class="mt-4">
			@Formula.Description
		</MudText>
	</DialogContent>
	<DialogActions>
		<MudStack Row="true" Style="width: 100%;" Justify="Justify.SpaceBetween">
			<MudButton OnClick="Cancel" Variant="Variant.Outlined">Back</MudButton>

			<MudButton Variant="Variant.Filled" Color="Color.Primary"
					   OnClick="PracticeThis">
				Practice This
			</MudButton>

			<MudButton OnClick="PracticeAll" Variant="Variant.Filled" Color="Color.Primary" Disabled="!CanPracticeAll">
				Practice All
			</MudButton>

			<MudButton OnClick="MarkAsSeen" Variant="Variant.Outlined" Color="Color.Secondary">
				Mark as Seen
			</MudButton>
		</MudStack>
	</DialogActions>
</MudDialog>


@code {

	[CascadingParameter]
	public IMudDialogInstance Dialog { get; set; }

	[Parameter]
	public Formula Formula { get; set; }

	[Parameter]
	public int TotalFormulas { get; set; }

	bool CanPracticeAll => Session.MarkedFormulas.Count == TotalFormulas;

	async Task Cancel()
	{
		Dialog.Cancel();
	}

	void PracticeThis()
	{
		Session.CurrentFormula = Formula;
		Dialog.Cancel();
		Nav.NavigateTo("/practice");
	}

	void PracticeAll()
	{

	}

	void MarkAsSeen()
	{
		Session.MarkedFormulas.Add(Formula.Id);
	}

    public async ValueTask DisposeAsync()
    {
        await JS.InvokeVoidAsync("math3D.stopModel", Formula.Id + "-dialog-canvas");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
		if (firstRender)
		{
			await JS.InvokeVoidAsync("math3D.loadModel", Formula.Id + "-dialog-canvas", Formula.ModelPath);
		}
	}
}
